html, 
body { 
  width:100%; 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

#map-canvas { 
  width:100%; 
  height: 100%; 
  float:left;
}


.list{
  position: absolute;
  right: 0px;
  width: 280px;
  margin: 15px 15px 15px 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  max-height: 90vh;

}


.headTitle {
  text-align: center;
  font: 100 28px "Ubuntu", sans-serif;
}


.search {
  width: 250px;
  height: 40px;
  color: #0ff;
  border-radius: 10px;

}

#locationSearch {
  width: 200px;
  height: 35px;
  margin: auto;
}


.search-filter ul li:hover {
  background-color: #fc9
}


.search-filter ul li {
  color: #2d333a;
  line-height: 1.5em;
  height: 100%;
}


#clickText {
  cursor: pointer;
}


.toggle-button {
  text-align: center;
}


.navbar {
  margin-bottom: 10px;
  overflow-y: scroll;
  max-height: 60vh;
}


/*responsive set*/


@media screen and ( max-height: 500px ) {
  .navbar {
    max-height: 40vh;
  }
}
