html, body { 
  width:100%; 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

#map-canvas { 
  width:100%; 
  height: 100%; 
  float:left;
}


.list{
    position: absolute;
    right: 0px;
    width: 280px;
    margin: 15px 15px 15px 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
}


.headTitle {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  font-weight: 100;
}


#search  {
  width: 250px;
  height: 40px;
  color: #00FFFF;
  border-radius: 10px;

}

#locationSearch {
  width:200px;
  height:35px;
  margin:auto;
}


.search-filter ul li:hover {
  background-color: #FFCC99
}


.search-filter ul li {
  color : #2D333A;      
  line-height: 1.5em;
  height: 100%;
}


#clickText {
  cursor: pointer;
}


#toggle-button {
  text-align: center;
}